{% extends "_base.html" %}

{% load static %}

{% block content %}
<body>
    <!-- slider section -->
  <section class="about_section layout_padding">
    <div class="container ">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Book name
              </h2>
            </div>
            <p>
				Book description
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- end slider section -->
  </div>
</body>
{% endblock %}