{% extends "_base.html" %}

{% load static %}

{% block content %}
  <section class="catagory_section layout_padding">
    <div class="catagory_container">
		<div class="container">
		 <div class="heading_container heading_center">
          <h3 class="mb-3">
            Search results - 
          </h3>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-12">
            <div class="card">
				<div class="card-body">
				<h5 class="card-title">Book Name</h5>
				<p class="card-text">Book Description</p>
				<a href="#" class="btn btn-primary">Details</a>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}